<%= form_with model: @casino, local: true do |form| %>
 
  <% if @casino.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@casino.errors.count, "error") %> prohibited
        this casino from being saved:
      </h2>
      <ul>
        <% @casino.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <% if @submit_text %>
      <%= form.submit @submit_text %>
    <% else %>
      <%= form.submit %>
    <% end %>
  </p>
 
<% end %>