<%= form_with model: @casino, local: true do |form| %>

  <!-- TODO: make this appear in a flash message in the layout -->
  <% if @casino.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@casino.errors.count, "error") %> prohibited
        this casino from being saved:
      </h2>
      <ul>
        <% @casino.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, {class: "form-control"} %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label "Tipo de Comida" %>
      <%= form.text_field :tipocomida, {class: "form-control"} %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :'Rango de precio' %>
    <%= form.text_field :rangoprecio, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :ubicacion %>
    <%= form.text_field :ubicacion, {class: "form-control"} %>
  </div>

  <p>
    <% if @submit_text %>
      <%= form.submit @submit_text, class: "btn btn-primary" %>
    <% else %>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </p>

<% end %>