<p>
  <strong><%= @casino.nombre %></strong>
</p>
 
<p>
  <strong>Tipo de comida:</strong>
  <%= @casino.tipocomida %>
</p>

<p>
  <strong>Rango de precio:</strong>
  <%= @casino.rangoprecio %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @casino.ubicacion %>
</p>

<%= link_to 'Editar', edit_casino_path(@casino) %> |
<%= link_to 'Volver', casinos_path %>

<p>
  <strong>Productos</strong>
</p>

<%= render 'products/product_list', products: @casino.products %>