<table>
<tr>
  <td><strong><%= @casino.nombre %></strong></td>
</tr>

<tr>
  <td><strong>Tipo de comida:</strong> <%= @casino.tipocomida %></td>
</tr>

<tr>
  <td><strong>Rango de precio:</strong> <%= @casino.rangoprecio %></td>
</tr>

<tr>
  <td><strong>Ubicacion:</strong> <%= @casino.ubicacion %></td>
</tr>

<tr>
  <td><%= link_to 'Editar', edit_casino_path(@casino) %> | <%= link_to 'Volver', casinos_path %></td>
</tr>
<tr>
  <td><strong>Productos</strong></td>
</tr>
<tr>
  <td><%= render 'products/product_list', products: @casino.products %></td>
</tr>
</table>