- btn_html_attributes = { class: ["btn", "btn-outline-primary", "btn-sm"] }

.container
  .row
    %h1= @casino.nombre
  .row
    %table.table.table-bordered
      %tr
        %th{scope: "col"} Tipo de comida
        %th{scope: "col"} Rango de precio
        %th{scope: "col"} Ubicacion
      %tbody
        %tr
          %td= @casino.tipocomida
          %td= @casino.rangoprecio
          %td= @casino.ubicacion
          %td{align: "center"}
            = link_to 'Editar', edit_casino_path(@casino), btn_html_attributes
  .row
    %h1 Productos
  .row
    = link_to 'Nuevo Producto', new_casino_product_path(@casino), class: ["btn", "btn-primary"]
  .row
    = render 'products/product_list', products: @casino.products
  .row
    = link_to 'Volver', casinos_path, class: ["btn", "btn-primary"]