<p>
  <strong>Nombre casino:</strong>
  <%= @casino.nombre %>
</p>
 
<p>
  <strong>Tipo de comida:</strong>
  <%= @casino.tipocomida %>
</p>

<p>
  <strong>Rango de precio:</strong>
  <%= @casino.rangoprecio %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @casino.ubicacion %>
</p>
<%= link_to 'Volver', casinos_path %>