/ Toda esta seccion es un comentario (por que esta dentro de un "-#",
/ a continuacion hare una linea "-" que es del tipo "Running Ruby",
/ lo que significa que es codigo ruby pero no se imprime, un ejemplo:

/ haml:
/ - if @user.empty?

/ el equivalente en ERB es:
/ <% if @user.empty? %>

- html_attributes = {class: "form-control"}

.row.justify-content-md-center
  .col-md-6
    = form_with(model: @user, url: @form_url, local: true) do |f|
      .form-group
        = f.label :name
        = f.text_field :name, html_attributes
      .form-group
        = f.label :email
        = f.email_field :email, html_attributes
      .form-group
        = f.label :password
        = f.password_field :password, html_attributes
      .form-group
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation, html_attributes
      .form-group
        = f.submit "Create my account", class: ["btn", "btn-primary", html_attributes[:class]]