- btn_html_attributes = { class: ["btn", "btn-outline-primary", "btn-sm"] }

%table.table.table-bordered
  %thead
    %tr
      %th Nombre
      %th Precio
  %tbody
    - products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td{align: "center"}
          = render 'products/add_to_cart_form', product: product
        - if is_admin?
          %td{align: "center"}
            .btn-group
              = link_to 'Edit', edit_casino_product_path(product[:casino_id], product), btn_html_attributes
              = link_to 'Destroy', casino_product_path(product[:casino_id], product), |
                {                                                                     |
                  method: :delete,                                                    |
                  data: {                                                             |
                    confirm: 'Seguro quieres borrar este producto?, se ve rico :9'    |
                  },                                                                  |
                  class: btn_html_attributes[:class]                                  |
                }                                                                     |