<%
  btn_html_attributes = {
    class: ["btn", "btn-outline-primary", "btn-sm"]
  }
%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to 'Show', casino_product_url(product[:casino_id], product), btn_html_attributes %>
          <%= link_to 'Edit', edit_casino_product_path(product[:casino_id], product), btn_html_attributes %>
          <%= link_to 'Destroy', casino_product_path(product[:casino_id], product), method: :delete, data: { confirm: 'Are you sure?' }, class: btn_html_attributes[:class] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>