<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', casino_products_path(product[:casino_id], product) %></td>
        <td><%= link_to 'Edit', edit_casino_product_path(product[:casino_id], product) %></td>
        <td><%= link_to 'Destroy', casino_product_path(product[:casino_id], product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>