.container

  %h1 Productos de #{@product.casino[:nombre]}

  %table.table.table-bordered

    %thead
      %tr
        %th Nombre
        %th Precio

    %tbody
      %tr
        %td= @product.name
        %td= @product.price

        %td{align: "center"}
          = render 'add_to_cart_form', product: @product

        - if is_admin?
          %td{align: "center"}
            .btn-group
              = link_to 'Editar', edit_casino_product_path(@product[:casino_id]), class: "btn btn-outline-primary"
  = link_to 'Volver', casino_path(@product[:casino_id]), class: "btn btn-primary"