<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Casino:</strong>
  <%= @product.casino[:nombre] %>
</p>

<%= link_to 'Edit', edit_casino_product_path(@product[:casino_id]) %> |
<%= link_to 'Back', casino_products_path(@product[:casino_id]) %>
